.shopParent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.shopTitle {
  color: var(--buttonColor);
  display: flex;
  justify-content: center;
}

.shopTitle :hover {
  color: var(--buttonColor);
}

.shopCategoryContenair {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4%;
  text-decoration: none;
}
